<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54px" height="60px" viewBox="0 0 54 60" version="1.1">
  <title>profile-icon</title>
  <g id="profile-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="noun_profile_3465517" fill="#265096">
          <path d="M53.973,59 C53.973,43.744 41.369,30.361 27,30.361 C12.631,30.361 0.027,43.744 0.027,59 L0.027,60 L53.972,60 L53.972,59 L53.973,59 Z M2.047,58 C2.578,44.229 14.01,32.361 27,32.361 C39.99,32.361 51.422,44.229 51.953,58 L2.047,58 Z" id="Shape"/>
          <path d="M27,28.509 C34.63,28.509 40.838,22.301 40.838,14.671 C40.838,7.041 34.63,0.833 27,0.833 C19.37,0.833 13.162,7.041 13.162,14.671 C13.162,22.301 19.37,28.509 27,28.509 Z M27,2.833 C33.527,2.833 38.838,8.144 38.838,14.671 C38.838,21.198 33.527,26.509 27,26.509 C20.473,26.509 15.162,21.198 15.162,14.671 C15.162,8.144 20.473,2.833 27,2.833 Z" id="Shape"/>
      </g>
  </g>
</svg>