<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="6px" viewBox="0 0 11 6" version="1.1">
  <title>chevron-arrow</title>
  <g id="chevron-arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <path d="M3.55256251,8 C3.41442188,8 3.27628125,7.94126285 3.16576875,7.82378855 C2.94474375,7.58883994 2.94474375,7.22173275 3.16576875,6.98678414 L6.90937975,3.00734214 L3.16576875,-0.986784141 C2.94474375,-1.22173275 2.94474375,-1.58883994 3.16576875,-1.82378855 C3.38679376,-2.05873715 3.73214532,-2.05873715 3.95317033,-1.82378855 L8.09738914,2.5814978 C8.20790164,2.6989721 8.26315789,2.84581498 8.26315789,2.99265786 C8.26315789,3.15418502 8.20790164,3.3010279 8.09738914,3.40381791 L3.95317033,7.80910426 C3.82884376,7.94126285 3.69070314,8 3.55256251,8 L3.55256251,8 Z" id="Path" fill="#0E1D2C" transform="translate(5.631579, 3.000000) rotate(90.000000) translate(-5.631579, -3.000000) "/>
  </g>
</svg>