<div class="rowTwoImages__wrapper">
  <div class="rowTwoImages__media">
    <img class="lazyload" data-src="{{ section.settings.image1 | img_url: 'master' }}">
  </div>
  <div class="rowTwoImages__media">
    <img class="lazyload" data-src="{{ section.settings.image2 | img_url: 'master' }}">
  </div>
</div>


{% schema %}
{
  "name": "Featured Images",
  "class": "index-section rowTwoImages",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    }
  ],
  "presets": [
    {
      "name": "Featured Images",
      "category": "Image"
    }
  ]
}
{% endschema %}
