/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding:var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .jklmHY { padding:var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jklmHY { padding:var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding:var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin:0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin:0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width:var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: currentcolor none medium; }
.fnmilh::after { display: inline; }
.dIjrXL::before, .dIjrXL::after { clear: both; display: block; content: ""; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-068dda85 {
		font-size: 45px;
		 font-family: "Roboto Condensed";
		 text-transform: initial;
	}
	.__pf .pf-b95c9c2d {
		font-family: "Antic Slab";
		 font-size: 30px;
		 margin-top: 20px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-caedad32 {
		font-family: "Roboto Condensed";
		 font-size: 20px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-0b06221e {
		background-color: rgb(226, 54, 54);
		 text-align: center;
	}
	.__pf .pf-9a74969d {
		font-family: "Roboto Condensed";
		 font-size: 30px;
		 text-transform: initial;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-7fdf7c08 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-55e79e1d {
		background-color: rgb(250, 246, 242);
	}
	.__pf .pf-736cbb9e {
		width: 800px;
		 height: auto;
		 border-radius: 0px;
		 border-width: 3px;
		 border-color: rgb(145, 157, 169);
		 border-image: initial;
		 padding: 0px;
	}
	.__pf .pf-6ddd970c {
		font-family: "Roboto Condensed";
		 font-size: 30px;
		 font-weight: 700;
	}
	.__pf .pf-e36c90c0 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-db0b3722 {
		padding-top: 30px;
		 margin-top: 0px;
	}
	.__pf .pf-82af9063 {
		font-family: "Roboto Condensed";
		 font-weight: 700;
		 font-size: 30px;
	}
	.__pf .pf-cd9eabaa {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-675a76b6 {
		border-radius: 0px;
		 border-width: 3px;
		 border-color: rgb(145, 157, 169);
		 border-image: initial;
		 padding: 0px;
	}
	.__pf .pf-e283813e {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-5e0491cd {
		font-size: 30px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
		 font-weight: 700;
	}
	.__pf .pf-c88bcb8b {
		font-size: 30px;
		 margin-top: 25px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
		 font-weight: 700;
	}
	.__pf .pf-8c9f5c83 {
		text-align: center;
		 margin-bottom: 30px;
	}
	.__pf .pf-82b4ffab {
		width: 70px;
		 padding-top: 20px;
	}
	.__pf .pf-56ae4ca6 {
		font-family: "Roboto Condensed";
		 margin-top: 8px;
	}
	.__pf .pf-801eb9fa {
		padding: 40px 35px;
		 background-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-397e9e0c {
		width: 70px;
		 height: 70px;
	}
	.__pf .pf-c9079ddb {
		font-family: "Roboto Condensed";
		 padding-bottom: 10px;
	}
	.__pf .pf-b819a235 {
		padding: 58px 35px 40px;
		 background-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-95887513 {
		width: 120px;
		 height: auto;
	}
	.__pf .pf-1201bc49 {
		font-family: "Roboto Condensed";
		 margin-top: -10px;
	}
	.__pf .pf-0d05d4bd {
		padding: 40px 35px;
		 background-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-d38c7435 {
		width: 120px;
		 height: auto;
	}
	.__pf .pf-8239587e {
		font-family: "Roboto Condensed";
		 margin-top: -7px;
	}
	.__pf .pf-54bd4994 {
		padding: 40px 35px;
		 background-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-d98dbedb {
		text-align: center;
	}
	.__pf .pf-603d8b9f {
		background-color: rgb(250, 246, 242);
		 padding-top: 75px;
		 padding-bottom: 75px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-dcdc8917 {
		border-radius: 0%;
		 border: medium none;
		 padding: 0px;
	}
	.__pf .pf-e3d2a917 {
		font-family: "Roboto Condensed";
		 font-weight: 700;
		 font-size: 30px;
		 text-align: center;
	}
	.__pf .pf-89a1a443 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-77ed023c {
		padding-top: 100px;
	}
	.__pf .pf-c1d307c4 {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-c0a5f57d {
		font-family: "Antic Slab";
		 font-weight: 700;
		 font-size: 30px;
	}
	.__pf .pf-c4880633 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-4c760af1 {
		padding-top: 100px;
	}
	.__pf .pf-d7a91742 {
		border-radius: 0px;
		 border: 3px solid rgb(145, 157, 169);
		 padding: 0px;
	}
	.__pf .pf-51473950 {
		background-color: rgb(250, 246, 242);
	}
	.__pf .pf-8a35613d {
		font-family: "Roboto Condensed";
		 font-weight: 700;
		 font-size: 30px;
		 margin-top: 15px;
	}
	.__pf .pf-8dfb71bc {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-a145eb50 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-7b4ec10b {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-e21d0e4c {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-b3fbe3d4 {
		list-style-position: inside;
		 list-style-type: disc;
		 font-size: 22px;
		 font-family: "Roboto Condensed";
	}
	.__pf .pf-a543bd5c {
		text-align: left;
		 background-color: rgb(250, 246, 242);
		 margin-left: -15px;
		 padding-left: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-5721eae8 {
		background-color: rgb(255, 255, 255);
		 text-align: center;
	}
	.__pf .pf-680d1c24 {
		width: 660px;
		 height: auto;
	}
	.__pf .pf-131fdc32 {
		padding-top: 75px;
		 padding-bottom: 75px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-caf458c9 {
		font-size: 25px;
		 font-weight: 700;
		 font-family: "Antic Slab";
	}
	.__pf .pf-47e242d7 {
		color: rgb(145, 157, 169);
		 font-size: 2px;
	}
	.__pf .pf-879a5d82 {
		font-family: "Roboto Condensed";
		 text-align: center;
	}
	.__pf .pf-aeb5be16 {
		background-color: rgb(250, 246, 242);
		 text-align: center;
	}
	.__pf .pf-95570fbc {
		font-size: 30px;
		 font-family: "Antic Slab";
		 font-weight: 700;
	}
	.__pf .pf-feb035ff {
		text-align: center;
	}
	.__pf .pf-2313f5f7 {
		width: 240px;
		 height: auto;
	}
	.__pf .pf-c249b9d2 {
		width: 1000px;
		 height: 140px;
	}
	.__pf .pf-dc30113f {
		width: 220px;
		 height: auto;
		 margin-top: -10px;
	}
	.__pf .pf-b1266727 {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-9a72f873 {
		font-size: 30px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Antic Slab";
		 color: rgb(0, 0, 0);
		 font-weight: 700;
	}
	.__pf .pf-fc244f7a {
		text-align: center;
		 margin-bottom: 30px;
	}
	.__pf .pf-11892bc8 {
		font-size: 16px;
		 line-height: 1.5em;
		 margin-bottom: 20px;
		 font-family: "Roboto Condensed";
		 font-weight: 400;
		 color: rgb(119, 119, 119);
		 margin-top: 0px;
		 text-align: left;
	}
	.__pf .pf-2cd9c25b {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
	}
	.__pf .pf-25e93052 {
		padding: 50px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-1a719fbc {
		font-size: 16px;
		 line-height: 1.5em;
		 margin-bottom: 20px;
		 font-family: "Roboto Condensed";
		 font-weight: 400;
		 color: rgb(119, 119, 119);
		 margin-top: 0px;
		 text-align: left;
	}
	.__pf .pf-fb04f3c6 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
	}
	.__pf .pf-f9a146df {
		padding: 50px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-8cc0cbc1 {
		font-size: 16px;
		 line-height: 1.5em;
		 margin-bottom: 20px;
		 font-family: "Roboto Condensed";
		 font-weight: 400;
		 color: rgb(119, 119, 119);
		 margin-top: 0px;
		 text-align: left;
	}
	.__pf .pf-06218eb2 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
	}
	.__pf .pf-c8e1eed7 {
		padding: 50px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-8a3fba4c {
		text-align: center;
	}
	.__pf .pf-4b5491a0 {
		padding-top: 75px;
		 padding-bottom: 75px;
		 background-position: 0% 0%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-color: rgb(250, 246, 242);
	}
	.__pf .pf-9f7db904 {
		font-size: 30px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Antic Slab";
		 color: rgb(0, 0, 0);
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-65e43d17 {
		width: 665px;
		 height: auto;
	}
	.__pf .pf-44985d1c {
		padding-top: 25px;
		 background-color: rgb(255, 255, 255);
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-068dda85 {
		font-size: 25px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	.__pf .pf-b95c9c2d {
		font-size: 25px;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 margin-top: 20px;
	}
	.__pf .pf-caedad32 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-0b06221e {
		background-color: rgb(233, 68, 69);
	}
	.__pf .pf-9a74969d {
		font-size: 24px;
		 font-weight: 700;
	}
	.__pf .pf-55e79e1d {
		padding-top: 0px;
	}
	.__pf .pf-6ddd970c {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-db0b3722 {
		padding-top: 0px;
	}
	.__pf .pf-ec1fed1c {
		padding-top: 0px;
	}
	.__pf .pf-82af9063 {
		font-size: 25px;
		 margin-top: 0px;
	}
	.__pf .pf-e283813e {
		padding-top: 0px;
	}
	.__pf .pf-5e0491cd {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-c88bcb8b {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-8c9f5c83 {
		margin-bottom: 0px;
	}
	.__pf .pf-82b4ffab {
		width: 60px;
		 height: auto;
	}
	.__pf .pf-801eb9fa {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-397e9e0c {
		height: auto;
		 width: 60px;
	}
	.__pf .pf-b819a235 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-95887513 {
		width: 80px;
		 height: auto;
	}
	.__pf .pf-0d05d4bd {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-d38c7435 {
		width: 80px;
		 height: auto;
	}
	.__pf .pf-54bd4994 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-603d8b9f {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-dcdc8917 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-e3d2a917 {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-89a1a443 {
		text-align: left;
	}
	.__pf .pf-77ed023c {
		padding-top: 0px;
	}
	.__pf .pf-c0a5f57d {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-4c760af1 {
		padding-top: 0px;
	}
	.__pf .pf-51473950 {
		padding-top: 0px;
	}
	.__pf .pf-8a35613d {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-b3fbe3d4 {
		font-size: 18px;
		 list-style-position: outside;
		 list-style-type: disc;
	}
	.__pf .pf-131fdc32 {
		padding-top: 15px;
		 padding-bottom: 15px;
	}
	.__pf .pf-95570fbc {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-2313f5f7 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-c249b9d2 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-dc30113f {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-86b5beb2 {
		text-align: center;
	}
	.__pf .pf-9a72f873 {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-fc244f7a {
		margin-bottom: 0px;
	}
	.__pf .pf-4b5491a0 {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-9f7db904 {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-e7f93953 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-65e43d17 {
		width: 800px;
		 height: auto;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-b95c9c2d {
		font-weight: 700;
	}
	.__pf .pf-21421941 {
		padding-top: 40px;
	}
	.__pf .pf-6ddd970c {
		font-weight: 700;
	}
}
						