/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding:var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .jklmHY { padding:var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jklmHY { padding:var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding:var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin:0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin:0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width:var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: currentcolor none medium; }
.fnmilh::after { display: inline; }
.dIjrXL::before, .dIjrXL::after { clear: both; display: block; content: ""; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-847d7e76 {
		font-size: 45px;
		 font-family: "Roboto Condensed";
		 text-transform: initial;
	}
	.__pf .pf-58b76167 {
		font-family: "Antic Slab";
		 font-size: 30px;
		 margin-top: 20px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-299ee301 {
		font-family: "Roboto Condensed";
		 font-size: 20px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-01e1f6dd {
		background-color: rgb(226, 54, 54);
		 text-align: center;
	}
	.__pf .pf-0e6635a4 {
		font-family: "Roboto Condensed";
		 font-size: 30px;
		 text-transform: initial;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-7be2ffe2 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-0898479c {
		background-color: rgb(250, 246, 242);
	}
	.__pf .pf-479cc48e {
		width: 800px;
		 height: auto;
		 border-radius: 0px;
		 border-width: 3px;
		 border-color: rgb(145, 157, 169);
		 border-image: initial;
		 padding: 0px;
	}
	.__pf .pf-6f5cc955 {
		font-family: "Roboto Condensed";
		 font-size: 30px;
		 font-weight: 700;
	}
	.__pf .pf-c64be028 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-e0289f41 {
		padding-top: 30px;
		 margin-top: 0px;
	}
	.__pf .pf-1e869c81 {
		font-family: "Roboto Condensed";
		 font-weight: 700;
		 font-size: 30px;
	}
	.__pf .pf-53fc3e1e {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-1e24f43c {
		border-radius: 0px;
		 border-width: 3px;
		 border-color: rgb(145, 157, 169);
		 border-image: initial;
		 padding: 0px;
	}
	.__pf .pf-dae176ae {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-441643fa {
		font-size: 30px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
		 font-weight: 700;
	}
	.__pf .pf-57a4f166 {
		font-size: 30px;
		 margin-top: 25px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
		 font-weight: 700;
	}
	.__pf .pf-66da8432 {
		text-align: center;
		 margin-bottom: 30px;
	}
	.__pf .pf-84327e8c {
		width: 70px;
		 padding-top: 20px;
	}
	.__pf .pf-b07f50d6 {
		font-family: "Roboto Condensed";
		 margin-top: 8px;
	}
	.__pf .pf-50d6a417 {
		padding: 40px 35px;
		 background-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-a4176aa4 {
		width: 70px;
		 height: 70px;
	}
	.__pf .pf-b8f6dd04 {
		font-family: "Roboto Condensed";
		 padding-bottom: 10px;
	}
	.__pf .pf-dd04fde8 {
		padding: 58px 35px 40px;
		 background-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-fde8406d {
		width: 120px;
		 height: auto;
	}
	.__pf .pf-8c90c314 {
		font-family: "Roboto Condensed";
		 margin-top: -10px;
	}
	.__pf .pf-c3143a25 {
		padding: 40px 35px;
		 background-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-3a255e7e {
		width: 120px;
		 height: auto;
	}
	.__pf .pf-8c70b3b6 {
		font-family: "Roboto Condensed";
		 margin-top: -7px;
	}
	.__pf .pf-b3b672c3 {
		padding: 40px 35px;
		 background-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-72c39749 {
		text-align: center;
	}
	.__pf .pf-9749dfad {
		background-color: rgb(250, 246, 242);
		 padding-top: 75px;
		 padding-bottom: 75px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-dfad225d {
		border-radius: 0%;
		 border: medium none;
		 padding: 0px;
	}
	.__pf .pf-1119e6b8 {
		font-family: "Roboto Condensed";
		 font-weight: 700;
		 font-size: 30px;
		 text-align: center;
	}
	.__pf .pf-56d8abe0 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-abe0f85f {
		padding-top: 100px;
	}
	.__pf .pf-e8f71ded {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-0739e23f {
		font-family: "Antic Slab";
		 font-weight: 700;
		 font-size: 30px;
	}
	.__pf .pf-3a6eb389 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-b389342c {
		padding-top: 100px;
	}
	.__pf .pf-342c4718 {
		border-radius: 0px;
		 border: 3px solid rgb(145, 157, 169);
		 padding: 0px;
	}
	.__pf .pf-edfd46c8 {
		background-color: rgb(250, 246, 242);
	}
	.__pf .pf-67e49c48 {
		font-family: "Roboto Condensed";
		 font-weight: 700;
		 font-size: 30px;
		 margin-top: 15px;
	}
	.__pf .pf-d33d4170 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-d6552a3a {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-816b2262 {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-c103e23b {
		font-family: "Roboto Condensed";
		 font-size: 18px;
	}
	.__pf .pf-e23b4aaf {
		list-style-position: inside;
		 list-style-type: disc;
		 font-size: 22px;
		 font-family: "Roboto Condensed";
	}
	.__pf .pf-af7ccbb6 {
		text-align: left;
		 background-color: rgb(250, 246, 242);
		 margin-left: -15px;
		 padding-left: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-cbb6f43e {
		background-color: rgb(255, 255, 255);
		 text-align: center;
	}
	.__pf .pf-f43e3c6e {
		width: 660px;
		 height: auto;
	}
	.__pf .pf-d10db0a1 {
		padding-top: 75px;
		 padding-bottom: 75px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-73678f61 {
		font-size: 25px;
		 font-weight: 700;
		 font-family: "Antic Slab";
	}
	.__pf .pf-aa26761a {
		color: rgb(145, 157, 169);
		 font-size: 2px;
	}
	.__pf .pf-c467c518 {
		font-family: "Roboto Condensed";
		 text-align: center;
	}
	.__pf .pf-f3b540b9 {
		background-color: rgb(250, 246, 242);
		 text-align: center;
	}
	.__pf .pf-2822b5ef {
		font-size: 30px;
		 font-family: "Antic Slab";
		 font-weight: 700;
	}
	.__pf .pf-b5ef02e6 {
		text-align: center;
	}
	.__pf .pf-e60de662 {
		width: 240px;
		 height: auto;
	}
	.__pf .pf-7976d3a2 {
		width: 1000px;
		 height: 140px;
	}
	.__pf .pf-a2676513 {
		width: 220px;
		 height: auto;
		 margin-top: -10px;
	}
	.__pf .pf-d7affc94 {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-9bbaefb1 {
		font-size: 30px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Antic Slab";
		 color: rgb(0, 0, 0);
		 font-weight: 700;
	}
	.__pf .pf-b1dbb14f {
		text-align: center;
		 margin-bottom: 30px;
	}
	.__pf .pf-2107c18d {
		font-size: 16px;
		 line-height: 1.5em;
		 margin-bottom: 20px;
		 font-family: "Roboto Condensed";
		 font-weight: 400;
		 color: rgb(119, 119, 119);
		 margin-top: 0px;
		 text-align: left;
	}
	.__pf .pf-8cea7f98 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
	}
	.__pf .pf-7f98ab45 {
		padding: 50px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-6339b46d {
		font-size: 16px;
		 line-height: 1.5em;
		 margin-bottom: 20px;
		 font-family: "Roboto Condensed";
		 font-weight: 400;
		 color: rgb(119, 119, 119);
		 margin-top: 0px;
		 text-align: left;
	}
	.__pf .pf-b768ca2b {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
	}
	.__pf .pf-ca2b47e8 {
		padding: 50px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-316ac9f3 {
		font-size: 16px;
		 line-height: 1.5em;
		 margin-bottom: 20px;
		 font-family: "Roboto Condensed";
		 font-weight: 400;
		 color: rgb(119, 119, 119);
		 margin-top: 0px;
		 text-align: left;
	}
	.__pf .pf-410a6149 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Roboto Condensed";
		 color: rgb(34, 34, 34);
	}
	.__pf .pf-6149c30a {
		padding: 50px;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-c30ab1c8 {
		text-align: center;
	}
	.__pf .pf-b1c8324b {
		padding-top: 75px;
		 padding-bottom: 75px;
		 background-position: 0% 0%;
		 background-size: cover;
		 background-attachment: fixed;
		 background-color: rgb(250, 246, 242);
	}
	.__pf .pf-c5f1163b {
		font-size: 30px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: "Antic Slab";
		 color: rgb(0, 0, 0);
		 font-weight: 700;
		 text-align: center;
	}
	.__pf .pf-38ae4207 {
		width: 665px;
		 height: auto;
	}
	.__pf .pf-a80308eb {
		padding-top: 25px;
		 background-color: rgb(255, 255, 255);
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-847d7e76 {
		font-size: 25px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	.__pf .pf-58b76167 {
		font-size: 25px;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 margin-top: 20px;
	}
	.__pf .pf-299ee301 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-01e1f6dd {
		background-color: rgb(233, 68, 69);
	}
	.__pf .pf-0e6635a4 {
		font-size: 24px;
		 font-weight: 700;
	}
	.__pf .pf-0898479c {
		padding-top: 0px;
	}
	.__pf .pf-6f5cc955 {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-e0289f41 {
		padding-top: 0px;
	}
	.__pf .pf-a10944b8 {
		padding-top: 0px;
	}
	.__pf .pf-1e869c81 {
		font-size: 25px;
		 margin-top: 0px;
	}
	.__pf .pf-dae176ae {
		padding-top: 0px;
	}
	.__pf .pf-441643fa {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-57a4f166 {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-66da8432 {
		margin-bottom: 0px;
	}
	.__pf .pf-84327e8c {
		width: 60px;
		 height: auto;
	}
	.__pf .pf-50d6a417 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-a4176aa4 {
		height: auto;
		 width: 60px;
	}
	.__pf .pf-dd04fde8 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-fde8406d {
		width: 80px;
		 height: auto;
	}
	.__pf .pf-c3143a25 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-3a255e7e {
		width: 80px;
		 height: auto;
	}
	.__pf .pf-b3b672c3 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-9749dfad {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-dfad225d {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-1119e6b8 {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-56d8abe0 {
		text-align: left;
	}
	.__pf .pf-abe0f85f {
		padding-top: 0px;
	}
	.__pf .pf-0739e23f {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-b389342c {
		padding-top: 0px;
	}
	.__pf .pf-edfd46c8 {
		padding-top: 0px;
	}
	.__pf .pf-67e49c48 {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-e23b4aaf {
		font-size: 18px;
		 list-style-position: outside;
		 list-style-type: disc;
	}
	.__pf .pf-d10db0a1 {
		padding-top: 15px;
		 padding-bottom: 15px;
	}
	.__pf .pf-2822b5ef {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-e60de662 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-7976d3a2 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-a2676513 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-1303d7af {
		text-align: center;
	}
	.__pf .pf-9bbaefb1 {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-b1dbb14f {
		margin-bottom: 0px;
	}
	.__pf .pf-b1c8324b {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-c5f1163b {
		font-size: 25px;
		 font-weight: 700;
	}
	.__pf .pf-e6631d38 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-38ae4207 {
		width: 800px;
		 height: auto;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-58b76167 {
		font-weight: 700;
	}
	.__pf .pf-e2c62ec3 {
		padding-top: 40px;
	}
	.__pf .pf-6f5cc955 {
		font-weight: 700;
	}
}
						